.home_container {
    width: 100%;
    margin: 0 auto;
    max-width: none;
    min-width: 1000px;
    background: #e3e6e6;
    box-sizing: border-box;
    height: 1000px;

}

.home {
    margin-left: auto;
    margin-right: auto;
    background: #9a9c9f;   
    width: 75%;
    height: 1000px;
    background: linear-gradient(to bottom, #gray 0%, white 100%)
}

p {
    margin-top: 0px;
    text-align: center;
}